@import url('css/style.css');

/* Дополнительно можно добавить свои стили для aboutus страницы */

main.section {
    max-width: 700px;
    margin: 3rem auto;
    padding: 0 1rem;
    text-align: center;
}